body{
    background-image:url(../images/background1.webp);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: inherit;
}
nav{
    font-weight: bold;
    color: ivory;
}
nav img{
    height: 5%;
    width: 5%;
}
