.jumbotron{
    color: aqua;
}
.jumbotron h1{
    font-size:100px ;
    font-weight: bolder;
    font-family: "Courier New", Courier, monospace;

}
*{
    background-image:url(../images/background.webp);
    background-repeat: repeat;
}
#overlay{
    height: 100%;
    width: 100%;
    position: fixed;
   
    background-color: rgba(0,0,0,3);
}