body{
    background-image:url(../images/background1.webp);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: inherit;
}
nav{
    font-weight: bold;
    color: ivory;
    position: sticky;
}
.navbar-brand{
    height: 5%;
    width: 5%;
}
nav ul{
    margin-left: 68%;
    margin-bottom: 3px;
}
nav ul li{
  color: aquamarine;
  display: inline;
  padding: 5px;
}
.container{
    width: 100%;
}
.jumbotron{
    background-image:url(../images/monkey_logo2-02.png);
    background-size: contain cover;
    background-repeat: no-repeat;
    height: 20px;
}
